---
layout: default
---
<div class="home">

  <div class="flowing">
    {% for post in site.posts %}
    <div class="col-md-4">
      <div class="post-card panel panel-default">
        <h3>
          {% if post.soon %}
          <span class="soon" title="coming soon...">{{ post.title }}</span>
          {% else %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        </h3>
        <span class="post-meta">
           <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
             {% if post.soon %}
             Coming soon...
             {% else %}
             {{ post.date | date: "%b %-d, %Y" }}
             {% endif %}
           </time>
        </span>

        <p>{{post.description | markdownify}}</p>
        {% for tag in post.tags %}
        <a href="/tag/{{tag}}.html">
          <span class="badge">{{tag}}</span>
        </a>
        {% endfor %}
        <div class="clearfix">&nbsp;</div>
      </div>
    </div>
    {% endfor %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>