---
layout: page
---
<div class="resume">
  <h1 style="background-color: #ddd; padding:15px">My Resume</h1>


  <div class="profile panel panel-default">
    <img src="/images/me.jpg" class="img-rounded" height="250" width="250">

    <h2>Reynald M. Pader</h2>

    <div id="summary">
      Mainly a Java developer, I have been involved in projects that ranged from enterprise-scale online financial
      servers
      to small scale cloud projects. I've handled roles that tackled architectural design, small team management,
      general
      Q.A., and hardcore development.
    </div>
    <ul class="list-inline social-media-list">
      <li>
        <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github-square"></i> <span
                class="username">{{ site.github_username }}</span></a>
      </li>
      <li>
        <a href="https://ph.linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin-square"></i> <span
                class="username">{{ site.linkedin_username }}</span></a>
      </li>
    </ul>
  </div>

  <div class="resume-content">
    <h3>Skills</h3>
    <h4>Core competencies:</h4>

    <div class="row">
      {% for skill in site.resume.skills.core%}
      <div class="col-md-6">

        <div class="skill progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0"
               aria-valuemax="{{skill.rate}}0"
               style="width: {{skill.rate}}0%; background: #{{skill.color}}">
            <i class="skill-icon {{skill.icon}}"></i> {{skill.name}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <h4>Other skills:</h4>

    <div class="row">
      {% for skill in site.resume.skills.other%}
      <div class="col-md-6">
        {{skill.name}}

        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0"
               aria-valuemax="{{skill.rate}}0"
               style="width: {{skill.rate}}0%;">
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <h3>Roles</h3>

    <div class="row">
      {% for role in site.resume.roles%}
      <div class="col-md-6">
        <h4>{{role.name}}
          <small>({{role.duration-from}} to {{role.duration-to}})</small>
        </h4>
        <div class="role-description">{{role.description}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>