<hr/>
<footer class="container">
  <!--<hr/>-->

  <div class="row">
    <div class="col-sm-4 col-xs-6">
      {{ site.title }}<br/>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>

    <div class="col-sm-4 col-xs-6">
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i> <span class="username">{{ site.github_username }}</span></a>
        </li>
        {% endif %}
        <li>
        </li>
      </ul>
    </div>

    <div class="col-sm-4 col-xs-12">
      <p>{{ site.description }}</p>
    </div>
  </div>


</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="{{ '/js/toc.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#toc').toc({showSpeed:0});
  });
</script>
