a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-media-list i {
  font-size: $base-font-size * 1.5;
}

.social-media-list i {
  color: #333;
}

.post-content, .post-header {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
  }
}

.post-meta {
  time {
    font-style: italic;
    color: #aaa;
  }
}

.content-wrapper {
    line-height: 1.7;
    color: #555;
    font-size: $base-font-size;
}

hr {
  margin-top: 50px;
  border-top: 5px solid #ddd;
}

/* Resume */
.resume {
  .profile {
    margin-left: auto;
    margin-right: auto;
    padding: $spacing-unit/2;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .social-media-list {
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
    }
    h2 {
      text-align: center;
    }

    @include media-query($on-small) {
      float: left;
      margin-right: $spacing-unit;
    }

    #summary {
      @include media-query($on-small) {
        width: 250px;
      }
      word-wrap: break-word;
      text-align: justify;
      font-size: 14px;
    }

  }

  .resume-content {
    overflow: hidden;
  }

  .skill-icon {
    font-size: $base-font-size * 1.5;
  }

  .skill .progress-bar, .skill.progress {
    height: 40px;
    line-height: 40px;
    font-size: $base-font-size;
  }

  .role-description {
    text-align: justify;
  }
}