---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>

    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% if page.edited%}
        Edited: {{ page.edited | date: "%b %-d, %Y" }}
        {% else %}
        Published: {{ page.date | date: "%b %-d, %Y" }}
        {% endif %}
      </time>
      &nbsp;
      &nbsp;
      {% for category in page.categories %}
      <span class="badge">{{category}}</span>
      {% endfor %}
    </p>
  </header>
  <div class="post-content" itemprop="articleBody">
    <div id="toc" class="well"> DERP <br> Don't mind me</div>

    {{ content }}
  </div>

</article>